.container{
    background-color: yellow;
    height: 100vh;
    border: solid red 1px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
}
.box{
    background-color: aqua;
    /* height: 100px; */
    /* width: 100px; */
    border: solid green 1px;
    margin: 2px;
    padding: 5px;
}
#box1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* row start/col start/row end/col end */
    grid-area: 1/1/4/4;
    width: auto;
}