.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 5px solid red;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.box{
    height: 150px;
    width: 150px;
    background-color: greenyellow;
    border: 5px solid black;
    margin: 20px;
    justify-self: center;
    /* align-content: space-around; */
    transition: 3s;
    transition-delay: 50ms;
    transition-property: background-color,transform;
    /* transition-delay: 50ms; */
    transition-timing-function: cubic-bezier(1,-0.33, 0, 1.61);
}
.box:hover{
    background-color: pink;
    transform: translateX(500px);
  }